.ag__form__login {
    width: 423px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.roomy-login {
    margin: var(--roomy-login);
}

/* ------------------------------------------
                [RESPONSIVE]
------------------------------------------- */

@media only screen and (max-width: 768px) {
    .roomy-login {
        margin: 0 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .roomy-login {
        margin: 0 1.5rem;
    }
}