@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: var(--bg-body);
    color: var(--color-text);
}

/* SELECTION */
body ::selection {
    background-color: var(--bg-azul);
    color: var(--bg-white);
}

/* SELECT */
.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CENTER */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-margin{
    margin: 0 5rem;
}
/* -----------------------
        INPUT
-------------------------*/

/*--  INPUT GROUP  --*/
.ag__input--group {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.ag__input--group input,
textarea {
    border: none;
    display: block;
    padding: 1rem;
    width: 100%;
    resize: none;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-white);
    box-shadow: var(--shadow-input);
    -webkit-box-shadow: var(--shadow-input);
    -moz-box-shadow: var(--shadow-input);
}

.ag__input--group label {
    color: var(--bg-gray-2);
    font-weight: 100;
    position: absolute;
    top: 4px;
    left: 1rem;
    pointer-events: none;
    transform: translateY(10px);
}

.ag__input--group textarea:valid,
.ag__input--group textarea:focus {
    padding: 1.5rem 1rem .8rem 1rem;
    outline: none;
    transition: .5s;
}

.ag__input--group input:valid,
.ag__input--group input:focus {
    padding: 1.5rem 1rem .8rem 1rem;
    outline: none;
    transition: .5s;
}

.ag__input--group textarea:valid+label,
.ag__input--group textarea:focus+label,
.ag__input--group input:valid+label,
.ag__input--group input:focus+label {
    color: var(--bg-gray-2);
    font-size: .6rem;
    transform: translateY(-26px);
    left: 1rem;
    top: 35px;
    transition: .5s;
}

.ag__input--group label {
    transition: all 0.2s ease-in-out;
}

/*--  INPUT ICON  --*/
.ag__input--icon {
    margin: auto 0;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--bg-gray-2);
}

.ag__input--icon input {
    padding: 0.5rem 1rem;
    background-color: var(--bg-gray);
    border: 1px solid var(--bg-gray);
    border-radius: 20px;
    outline: none;
}

.ag__input--icon input::placeholder {
    color: var(--bg-gray-2);
}

.ag__input--icon i {
    position: absolute;
    right: 1rem;
    font-size: .9rem;
}

/* -------------------------------------------
                    HEADER
--------------------------------------------*/
.ag__header {
    background-color: var(--bg-header);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.ag__header__box { 
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
}
.ag__search--movil{
    display: none;
}

/* -------------------------------------------
                SECTION
--------------------------------------------*/
.ag__login{
    display: none;
}
.ag__home{
    display: none;
}
/* -------------------------------------------
                CONTENT
--------------------------------------------*/
.ag__content { 
    padding-top: 9rem;
    padding-bottom: 6rem;  
}
.ag__content__{  
    height: 100%; 
    margin: 0 20px;
}
.ag__content_box {
    width: 100%; 
}

.ag__form__login {
    width: 423px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ag__form--title {
    font-size: 18px;
    text-align: center;
}

/* -------------------------------------------
                BUTTON
--------------------------------------------*/
.ag__button {
    background-color: var(--bg-azul);
    border: 1px solid var(--bg-azul);
    color: var(--bg-white);
    padding: 12px 16px 12px 16px;
    text-align: center;
}

.ag__button__outline {
    background-color: var(--bg-white);
    border: 1px solid var(--bg-azul);
    color: var(--bg-azul);
    padding: 12px 16px 12px 16px;
    text-align: center;
}

/* -------------------------------------------
                FOOTER
--------------------------------------------*/
.ag__footer {
    background-color: var(--bg-footer);
}

.ag__footer__box { 
    padding: 3rem 0;
    display: flex;
    gap: 2rem;
}

.ag__footer__info {
    background-color: var(--bg-white);
    padding: 1rem;
    text-align: center;
}

/*-- LOGO -- */
.footer__box__nav{
    display: flex; 
    width: 50%;
    gap: 2rem;
}

.footer__box__logo {
    width: 50%;
}

/*-- MENU -- */
.footer__box__menu {
    width: 50%;
}

.menu__nav {
    gap: 1rem;
}

.menu__nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 1.2rem;
    margin-top: 0;
}

.menu__nav ul li {
    width: 100%;
    display: flex;
}

.menu__nav ul li a {
    width: 100%;
    text-decoration: none;
    color: var(--color-text);
}


.footer__box__contacto {
    width: 50%;
}

.footer__box__contacto h5 {
    margin-top: 0;
    margin-bottom: 1rem;
}

/*--  CONTACT  -- */

.ag__contacto__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* -----------------------
        SCROLL
-------------------------*/

body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb{
	background-color: var(--bg-azul);	
	background-image: -webkit-linear-gradient(45deg,
                    rgba(255, 255, 255, .2) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .2) 50%,
                    rgba(255, 255, 255, .2) 75%,
                    transparent 75%,
                    transparent)
}