@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: var(--bg-body);
    color: var(--color-text); 
    font-size: 1rem;
}

/* SELECTION */
body ::selection {
    background-color: var(--bg-azul);
    color: var(--bg-white);
}

/* SELECT */
.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CENTER */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-login {
    margin: 0 5rem;
}
/* -----------------------
        INPUT
-------------------------*/

/*--  INPUT GROUP  --*/
.ag__input--group {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.ag__input--group input,
textarea {
    border: none;
    display: block;
    padding: 1rem;
    width: 100%;
    resize: none;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-white);
    box-shadow: var(--shadow-input);
    -webkit-box-shadow: var(--shadow-input);
    -moz-box-shadow: var(--shadow-input);
}

.ag__input--group label {
    color: var(--bg-gray-2);
    font-weight: 100;
    position: absolute;
    top: 4px;
    left: 1rem;
    pointer-events: none;
    transform: translateY(10px);
}

.ag__input--group textarea:valid,
.ag__input--group textarea:focus {
    padding: 1.5rem 1rem .8rem 1rem;
    outline: none;
    transition: .5s;
}

.ag__input--group input:valid,
.ag__input--group input:focus {
    padding: 1.5rem 1rem .8rem 1rem;
    outline: none;
    transition: .5s;
}

.ag__input--group textarea:valid+label,
.ag__input--group textarea:focus+label,
.ag__input--group input:valid+label,
.ag__input--group input:focus+label {
    color: var(--bg-gray-2);
    font-size: .6rem;
    transform: translateY(-26px);
    left: 1rem;
    top: 35px;
    transition: .5s;
}

.ag__input--group label {
    transition: all 0.2s ease-in-out;
}

/*--  INPUT ICON  --*/
.ag__input--icon {
    margin: auto 0;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--bg-gray-2);
}

.ag__input--icon input {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--bg-gray);
    border: 1px solid var(--bg-gray);
    border-radius: 1.25rem;
    outline: none;gap: 0.5rem;
}

.ag__input--icon input::placeholder {
    color: var(--bg-gray-2);
}

.ag__input--icon i {
    position: absolute;
    right: 1rem;
    font-size: .9rem;
}
 

/* -------------------------------------------
                CONTENT
--------------------------------------------*/
.ag__content {
    min-height: calc(100% - 7.1rem);
    padding-top: 7.1rem;
}

.ag__content_box {
    width: 100%;
}

.ag__form__login {
    width: 423px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ag__form--title {
    font-size: 1.125rem;
    text-align: center;
    font-weight: bold;
}

/* -------------------------------------------
                BUTTON
--------------------------------------------*/
.ag__button {
    background-color: var(--bg-azul);
    border: 1px solid var(--bg-azul);
    color: var(--bg-white);
    padding: 12px 16px 12px 16px;
    text-align: center;
    text-decoration: none;
    gap: 0.5rem;
    display: flex;
}

.ag__button__outline {
    background-color: var(--bg-white);
    border: 1px solid var(--bg-azul);
    color: var(--bg-azul);
    padding: 12px 16px 12px 16px;
    text-align: center;
    text-decoration: none;
    gap: 0.5rem;
    display: flex;
}

.ag__button__Text {
    background-color: transparent;
    border: none;
    color: var(--bg-azul); 
    text-align: center;
    gap: 0.5rem;
    display: flex;
    text-decoration: none;
    font-weight: 600;
}
 
/* -----------------------
        SCROLL
-------------------------*/

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--bg-azul);
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}